flask 
gtts 
langchain 
langchain-community 
langchain-huggingface 
langchain-vectorstores 
pinecone-client 
python-dotenv
accelerate
torch
transformers
googletrans==4.0.0rc1
langdetect
ctransformers
sentence-transformers
pypdf
faiss-cpu
numpy<2.0
tensorflow
tf-keras
